<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidtutor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AndroidImagesAndMedia.ImageButton.ImageButtonWidget"></activity>
        <activity android:name=".ProgressBar.ProgressBarXML"
            tools:ignore="Instantiatable" />
        <activity android:name=".SeekBar.SeekBarXML"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".SeekBar.SeekBarJava"
            tools:ignore="Instantiatable" />
        <activity android:name=".SeekBar.SeekBarExample"
            tools:ignore="Instantiatable" />
        <activity android:name=".AndroidWidgets.SeekBarWidget" />
        <activity android:name=".ProgressBar.ProgressBarXML"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".ProgressBar.ProgressBarJava"
            tools:ignore="Instantiatable" />
        <activity android:name=".ProgressBar.ProgressBarExample"
            tools:ignore="Instantiatable" />
        <activity android:name=".AndroidWidgets.ProgressBarWidget" />
        <activity android:name=".RatingBar.RatingBarXML"
            tools:ignore="Instantiatable" />
        <activity android:name=".RatingBar.RatingBarJava"
            tools:ignore="Instantiatable" />
        <activity android:name=".RatingBar.RatingBarExample"
            tools:ignore="Instantiatable" />
        <activity android:name=".AndroidWidgets.RatingBarWidget" />
        <activity android:name=".CheckBox.CheckBoxXML"
            tools:ignore="Instantiatable" />
        <activity android:name=".CheckBox.CheckBoxJava"
            tools:ignore="Instantiatable" />
        <activity android:name=".AndroidWidgets.CheckBoxWidget" />
        <activity android:name=".AndroidWidgets.RadioButtonWidget" />
        <activity android:name=".AndroidWidgets.ButtonWidget" />
        <activity android:name=".AndroidWidgets.EditTextWidget" />
        <activity android:name=".AndroidWidgets.TextViewFragment" />
        <activity android:name=".AndroidImagesAndMedia.ImageView.ImageViewWidget"/>
        <activity
            android:name=".TextView.TextViewExample"
            tools:ignore="Instantiatable" />
        <activity android:name=".Tutorial" />
        <activity android:name=".SliderScreen" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".Signin_Activity" />
        <activity android:name=".Registration_Activity" />
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".AndroidWidgets.Switch.SwitchWidget"></activity>
        <activity android:name=".AndroidWidgets.ToggleButton.ToggleButtonWidget"></activity>
   <activity android:name=".AndroidWidgets.Spinner.SpinnerWidget"></activity>
        <activity android:name=".AndroidWidgets.AutocompleteTextview.AutocompleteWidget"></activity>
        <activity android:name=".AndroidWidgets.MutilautocompleteTextview.MutoautocompleteWidget"></activity>
        <activity android:name=".AndroidWidgets.CheckTextview.ChecktextviewWidget"></activity>
    </application>


    <uses-permission android:name="android.permission.INTERNET" />

</manifest>